# ------------------------------------
# # ** This file is managed by Puppet **
# # * Any custom changes to this file *
# #         * will be lost. *
# # ------------------------------------
[sssd]
config_file_version = 2
reconnection_retries = 3
sbus_timeout = 30
services = nss, pam
domains = default


[nss]
filter_groups = root
filter_users = root
reconnection_retries = 3
entry_cache_timeout = 300
entry_cache_nowait_percentage = 75

[pam]
reconnection_retries = 3

[domain/default]
access_provider = ldap
ldap_access_filter = host=<%= hostname %>
ldap_access_order = filter

ldap_schema = rfc2307bis
enumerate = True
ldap_tls_reqcert = never
auth_provider = ldap
ldap_id_use_start_tls = True
debug_level = 1
ldap_search_base = dc=autotrader,dc=com
ldap_user_search_base = ou=people,dc=autotrader,dc=com?subtree?(host=<%= hostname %>)
id_provider = ldap
<%= usg_sssd_ldap_servers %>
ldap_tls_cacertdir = /etc/openldap/cacerts
cache_credentials = true
